---
import { Image } from 'astro:assets';
import Layout from '../layouts/layout.astro';
---

<Layout title="Hermes">
  <main class="container max-w-7xl mx-auto px-6 lg:px-8">
    <div class="flex flex-col md:flex-row items-center">
      <div class="md:w-1/2 md:pr-8">
        <h1 class="text-4xl md:text-6xl font-bold mb-6">
          Agiliza, controla y entrega con precisión
        </h1>
        <p class="text-xl text-gray-600 mb-8">
          Transforma la gestión de tus entregas: eficiencia, precisión y control en cada pedido, 
          para que tu empresa crezca y tus clientes confíen.
        </p>
      </div>
      <div class="flex items-center md:w-1/2 mt-6 md:mt-0">
        <Image 
          src="https://res.cloudinary.com/dlxf1d5ag/image/upload/v1726876640/llo/WhatsApp_Image_2024-09-06_at_4.28.11_PM_n12fq1.jpg" 
          alt="Astronaut illustration" 
          width={500} 
          height={100} 
          class="w-full mx-auto" 
        />
      </div>
    </div>
  </main>
</Layout>