---

const{searchParams} = new URL( Astro.request.url);
const nombre= searchParams.get ('nombre') || 'Amigo';
const edad = searchParams.get('edad') || 'desconocida';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saludos{nombre}</title>
</head>
<body>
    <h1>¡Hola, {nombre}!</h1>
    <p>Tu edad es: {edad}</p>
    
</body>

</html>